
body {
    margin:0 auto;
    font-family: sans-serif;
    padding: 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.clear{
    clear: both;
}


.header {
    background-color: dimgray;
    padding: 8px;
    margin: 0;
}
.header .container .logo {
    float:left;
    height: 35px;
    width: 140px;
    background-color: #ff8000;
    margin: 0;
}
.header .container .nav ul {
    float:left;
    padding: 0;
    margin: 0;
}

.header .container .nav ul li{
    list-style-type:none;
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin: 0;
}
.header .container .nav ul li a{
    text-decoration: none;
    color: #aaaaaa;
    padding: 10px;
    margin: 0;
}


.bannerWrap {
    background-color: #71c4ea;
    height: 485px;
}
h1 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 36px;
    color: #444444;
}

.features{
    padding-left: 0;
    width:785px;
    margin: 0 auto;
}
.circle{ 
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: silver;
}

.feature p{             
    text-align: center;
    font-size: 18px;
    color:#888888;
    
}

.feature {
    float: left;
    width:140px;
    margin-left: 75px;
}
p:hover {
    color: #444444;
}

.feature:first-child {
    margin-left: 0px;
}


li {
    list-style: none;
}

.footer {
    background-color: #ececec;
    margin:0;
}
.tabs {
    margin:0;
    text-align: center;
    line-height: 20px;
    padding: 8px;
}
.tabs li{ 
    display: inline-block;
    text-align: center;
    margin: 0; 
}
.tabs li a {
    font-weight: bold;
    font-size: 16px;
    list-style-type:none;
    text-decoration: none;
    color:#ff8000;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.footer a:hover {
    color: #444444;
}
.footer .container .tabs .active {
    color: #444444;
}

.featuresWrap {
    margin:64px auto 110px auto;
}

